@charset "UTF-8";
body {
  font-family: "Operator Mono Light Italic", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px; }

h1 {
  padding: 2vh 4vw;
  color: #6c65c5;
  font-family: "Operator Mono Light Italic", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic; }
  h1 span {
    color: #b3afe1; }

h2 {
  color: #017190;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 4vw;
  height: 42px;
  background: #f7fdff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  z-index: 100; }
  h2.edit span {
    display: inline; }
  h2 span {
    margin-left: auto;
    color: #980002;
    display: none;
    cursor: pointer; }

.location {
  height: 450px;
  transition: height 4000ms ease-in;
  overflow: hidden; }
  .location.loading {
    height: 242px; }
  .location.loading div {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.3); }
    .location.loading div:after {
      position: absolute;
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 2000ms infinite;
      animation: ellipsis steps(4, end) 2000ms infinite;
      content: "...";
      /* ascii code for the ellipsis character */
      width: 0; }

.forecast {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 2vh 0;
  position: relative; }
  .forecast.now_and_soon {
    padding-bottom: 3vh; }
  .forecast.later {
    padding-top: 3vh; }
  .forecast.now_and_soon::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 2vw;
    right: 2vw;
    background: #e6e6e6; }
  .forecast li {
    flex: 1 1 auto; }
  .forecast h3 {
    padding: 0 2vw 0.5vh;
    font-size: 0.8rem; }
  .forecast .icon {
    font-size: 34px;
    padding: 1vh 2vw; }
  .forecast .temp {
    padding: 1vh 0; }
    .forecast .temp .units {
      color: #b3b3b3; }
    .forecast .temp.temp_min {
      color: #00a1df;
      padding-top: 0.2vh; }
    .forecast .temp.temp_max {
      color: #8b0000;
      padding-bottom: 0.2vh; }
  .forecast .rain_chance {
    padding: 0.2vh 0 1vh 0; }
    .forecast .rain_chance:before {
      content: "💦";
      filter: grayscale(100%);
      opacity: 0.5;
      font-size: 0.7rem;
      margin-right: -4px;
      position: relative;
      top: -1px; }
  .forecast .wind {
    text-align: center; }
    .forecast .wind .speed {
      margin: -5px 0 0 0;
      font-size: 0.8rem; }
      .forecast .wind .speed .units {
        margin-left: 2px;
        color: #b3b3b3;
        font-size: 0.8rem; }
    .forecast .wind svg {
      transform: scale(0.6);
      opacity: 0.3; }
      .forecast .wind svg polyline {
        stroke: black;
        stroke-width: 4px; }

.add-location {
  margin-bottom: 50px;
  padding: 20px 0 0 0; }
  .add-location form {
    display: flex; }
  .add-location input {
    flex: 1 1 0;
    font-size: 20px;
    padding: 8px 2vw;
    border: 1px solid #CCC;
    font-family: "Operator Mono Medium", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 20px;
    box-shadow: 0 0 5px 0 #EBEBEB;
    border-radius: 2px;
    border: 1px solid #EBEBEB; }
    .add-location input::placeholder {
      color: #EBEBEB; }
    .add-location input:focus {
      outline: none;
      border: 1px solid #999;
      box-shadow: 0 0 10px 0 #CCC; }

@media (max-width: 480px) {
  .forecast .summary,
  .forecast .label {
    display: none; } }

@keyframes ellipsis {
  to {
    width: 2.4em; } }

@-webkit-keyframes ellipsis {
  to {
    width: 2.4em; } }
