@charset "UTF-8";
body {
  font-family: "Operator Mono Light", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif; }

h1 {
  padding: 1.2vh 4vw;
  background: #e6e6e6;
  font-family: "Operator Mono Medium", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4vw;
  border-bottom: 1px solid #999999; }

h2 {
  background: #dbdbdb;
  padding: 2vh 4vw;
  border-bottom: 1px solid #999999; }

.now_and_soon {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-bottom: 1px solid #dbdbdb; }
  .now_and_soon li {
    flex: 1 1 auto; }
  .now_and_soon h3 {
    padding: 1vh 2vw;
    font-size: 0.8rem; }
  .now_and_soon .icon {
    font-size: 34px;
    padding: 1vh 2vw; }
  .now_and_soon .temp {
    padding: 1vh 0; }
    .now_and_soon .temp .units {
      color: #999999;
      font-size: 0.8rem; }
  .now_and_soon .rain_chance {
    padding: 1vh 0; }
    .now_and_soon .rain_chance:before {
      content: "☂️";
      filter: grayscale(100%);
      opacity: 0.5;
      font-size: 0.7rem;
      margin-right: -4px;
      position: relative;
      top: -1px; }
  .now_and_soon .wind {
    text-align: center; }
    .now_and_soon .wind .speed {
      margin: -5px 0 0 0;
      padding: 0 0 1vh;
      font-size: 12px; }
    .now_and_soon .wind svg {
      transform: scale(0.6);
      opacity: 0.3; }
      .now_and_soon .wind svg polyline {
        stroke: black;
        stroke-width: 4px; }

@media (max-width: 480px) {
  .now_and_soon .summary,
  .now_and_soon .label {
    display: none; } }
