$baseColor: #2b9aff;
$gutter: 2vw;

body {
	font-family: "Operator Mono Light", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
	padding: 2vh $gutter * 2;
	background: lighten($baseColor, 25%);
	color: darken($baseColor, 20%);
	font-family: "Operator Mono Medium", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

h2,
.add-location {
	background: lighten($baseColor, 35%);
	color: darken($baseColor, 20%);
	padding: 2vh $gutter * 2;
	border-top: 1px solid lighten($baseColor, 10%);
	border-bottom: 1px solid lighten($baseColor, 10%);
	position: sticky;
}

h2 {
	display: flex;
	&.edit span { display: inline; }
	span {
		margin-left: auto;
		color: #980002;
		display: none;
		cursor: pointer;
	}
}

.loading {
	text-align: center;
	padding: 12vh;
	color: rgba(0,0,0,0.3);
}

.forecast {

	display: flex;
	flex-direction: row;
	text-align: center;

	&.now_and_soon {
		border-bottom: 1px solid lighten($baseColor, 26%);
	}

	li { flex: 1 1 auto; }
	h3 {
		padding: 2vh $gutter 1vh;
		font-size: 0.8rem;
	}

	.icon {
		font-size: 34px;
		padding: 1vh $gutter;
	}

	.temp {
		padding: 1vh 0;
		.units {
			color: lighten(#000, 60%);
			font-size: 0.8rem;
		}
		&.temp_min {
			color: #00a1df;
			padding-bottom: 0.2vh;
		}
		&.temp_max {
			color: #8b0000;
			padding-top: 0.2vh;
		}
	}

	.rain_chance {
		padding: 1vh 0;
		&:before {
			content: "☂️";
			filter: grayscale(100%);
			opacity: 0.5;
			font-size: 0.7rem;
			margin-right: -4px;
			position: relative;
			top: -1px;
		}
	}

	.wind {
		text-align: center;
		.speed {
			margin: -5px 0 0 0;
			padding: 0 0 2vh;
			font-size: 0.8rem;
			.units {
				color: lighten(#000, 60%);
				font-size: 0.8rem;
			}
		}
		svg {
			transform: scale(0.6);
			opacity: 0.3;
			polyline {
				stroke: black;
				stroke-width: 4px;
			}
		}
	}

}

.add-location {
	margin-bottom: 50px;
	.label {
		margin-bottom: 10px;
	}
	.form {
		display: flex;
		input, button {
			display: block;
			font-size: 20px;
			padding: 4px 8px;
			border: 1px solid lighten($baseColor, 10%);
			font-family: "Operator Mono Medium", Menlo, "Monaco", "Helvetica Neue", Helvetica, sans-serif;
		}
		input {
			flex-grow: 3;
			width: calc(100% - 16px);
			margin-right: 10px;
		}
		button {
			flex-grow: 1.5;
			background: lighten($baseColor, 25%);;
		}
	}
}

@media (max-width: 480px) {
	.forecast {
		.summary,
		.label { display: none; }
	}
}
